.progsec5{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
   /*  background-color: #add17f; */
   background-color: #7FD1A0;
}

.progsec5 h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 9900;
  color: white;
}

.progsec5 hr{
background: white;
width: 50px;
height: 2px;
border: none;
}

.progsec5-bottom{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.progsec5-left{
    margin-left: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.progsec5-right{
    padding-left: 100px;
    padding-right: 20px;
  flex: 1;
}

.progsec5-left img{
    box-shadow: 0 0 20px #888888;
    height: 100%;
    width:100% ;
}

.progsec5-right h2{
    font-size: 2rem;
    color: #555;
}

.progsec5-right p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

.progsec5-right span{
    font-weight: 700;
}

@media screen and (max-width: 1440px) {
   .progsec5 h1{
    font-size: 2.8rem;
   }
   .progsec5-right h2{
    font-size: 1.3rem;
   }
   .progsec5-right p{
    font-size: 1rem;
   }
}

@media screen and (max-width: 768px) {
    .progsec5 h1{
        font-size: 2rem;
        width: 90%;
        margin-inline: auto;
       }
  .progsec5-left{
   flex: none;
   width: 100%;
   margin-left: 0;
  }
  .progsec5-right{
   flex: none;
   width: 100%;
   padding-left: 20px;
  }
  .progsec5-left img{
    
    width:80% ;
}
}